(
	sources: {
		"source": TextureAtlas (
			source: "source/tiles.png",
			tile_size: Vec2(
				16.,
				16.
			),
			rows: 9,
			columns: 20
		),
	},
	
	textures: {
		"grass_to_water": Group( {
				"left": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(7.,2.)),
						Atlas(source: "source", index: Vec2(7.,5.)),
						Atlas(source: "source", index: Vec2(7.,8.)),
					],
					speed: 1.
				),
				"up": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(8.,1.)),
						Atlas(source: "source", index: Vec2(8.,4.)),
						Atlas(source: "source", index: Vec2(8.,7.)),
					],
					speed: 1.
				),

				"down": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(8.,3.)),
						Atlas(source: "source", index: Vec2(8.,6.)),
						Atlas(source: "source", index: Vec2(8.,9.)),
					],
					speed: 1.
				),

				"right": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(9.,2.)),
						Atlas(source: "source", index: Vec2(9.,5.)),
						Atlas(source: "source", index: Vec2(9.,8.)),
					],
					speed: 1.
				),

			
				"left_up": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(7.,1.)),
						Atlas(source: "source", index: Vec2(7.,4.)),
						Atlas(source: "source", index: Vec2(7.,7.)),
					],
					speed: 1.
				),

				"left_down": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(7.,3.)),
						Atlas(source: "source", index: Vec2(7.,6.)),
						Atlas(source: "source", index: Vec2(7.,9.)),
					],
					speed: 1
				),

				"right_up": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(9.,1.)),
						Atlas(source: "source", index: Vec2(9.,4.)),
						Atlas(source: "source", index: Vec2(9.,7.)),
					],
					speed: 1.
				),

				"right_down": Animated(
					frames: [
						Atlas(source: "source", index: Vec2(9.,3.)),
						Atlas(source: "source", index: Vec2(9.,6.)),
						Atlas(source: "source", index: Vec2(9.,9.)),
					],
					speed: 1.
				),
				
			}
		),
		"water_to_grass": Group({
				"up":        Single(Atlas(source: "source", index: Vec2(5.,1.))),
				"down":      Single(Atlas(source: "source", index: Vec2(5.,3.))),
				"left":      Single(Atlas(source: "source", index: Vec2(4.,2.))),
				"right":     Single(Atlas(source: "source", index: Vec2(6.,2.))),
		
				"left_up": Single(Atlas(source: "source", index: Vec2(4.,1.))),
				"left_down": Single(Atlas(source: "source", index: Vec2(4.,3.))),
				"right_up": Single(Atlas(source: "source", index: Vec2(6.,1.))),
				"right_down": Single(Atlas(source: "source", index: Vec2(6.,3.))),
			}
		),
		"grass": Variant(
			variants: {
				"var1": Atlas(source: "source", index: Vec2(1.,1.)),
				"var2": Atlas(source: "source", index: Vec2(1.,2.)),
				"var3": Atlas(source: "source", index: Vec2(1.,3.)),
		
				"var4": Atlas(source: "source", index: Vec2(2.,1.)),
				"var5": Atlas(source: "source", index: Vec2(2.,2.)),
				"var6": Atlas(source: "source", index: Vec2(2.,3.)),		
			}
		),
		"converyor": Animated(
			frames: [
				Atlas(source: "source", index: Vec2(19,1.)),
				Atlas(source: "source", index: Vec2(19,2.)),
				Atlas(source: "source", index: Vec2(19,3.)),
				Atlas(source: "source", index: Vec2(19,4.)),
			],
			speed: 1.
		),
		"water": Animated(
			frames: [
				Atlas(source: "source", index: Vec2(11.,1.)),
				Atlas(source: "source", index: Vec2(11.,2.)),
				Atlas(source: "source", index: Vec2(11.,3.)),
				
			],
			speed: 1.
		)
}
)
